################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CrypTradeClubVsOpen/v17
/.vs/CrypTradeClubVsOpen/FileContentIndex
/.vs
/Shared/bin/Debug/net8.0
/Shared/obj
/Apps/WebCrawler/bin/Debug/net8.0
/Apps/WebCrawler/obj/Debug/net8.0
/Apps/WebCrawler/obj
